body {
    background-color: aliceblue;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: transform 0.2s;   
}

.avatar:hover {
    transform: scale(1.1); 
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid #00889d;
    border-radius: 5px;
}

.nav {
    background-color: #00889d;
    margin: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    bottom: auto;
    width: 100%;
}

nav {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

a:link, a:visited {
    color: #ffffff;
    text-decoration: none;
}

